/* admin login page styling */
.login-wrapper .mb-4{
    background-color: #b30000;
    color: #FFE;
    padding: 6px 10px;
}

.login-wrapper .mb-4 ul{
    padding: 0;
    margin: 0;
}

.login-wrapper .mb-4 li{
    text-align: center;
}

/* Forgate Password page styling */
.password-wrapper .mb-4{
    background-color: #bb9c9c;
    color: rgb(31, 31, 29);
    padding: 6px 10px;
}

/* Order Details Page */
.order-summery{
	border: 2px solid #eee;
    padding: 15px;
    min-height: 185px;

}

.order-summery p{
    margin: 0;
    line-height: 1.8em;
}

.order-summery p span{
    display: inline-block;
    width: 100px;
    color: #000;
}

.order-summery .badge{
    border-radius: 1px;
    padding: 3px 2px 2px;
    color: #eee;
}

/* Order Items box */
.order-items-box{
    border: 2px solid #eee;
    padding: 15px;
    margin-top: 30px;
    box-shadow: 1px 3px #000;
}